localhost {

    # see certs/README.md for command to create this
    tls /etc/caddy/certs/localhost.crt /etc/caddy/certs/localhost.key

    handle_path /remark/* {
        # block logging in/out from the outside
        abort /logout
        abort /auth/anonymous
        reverse_proxy remark:8080
    }

    handle {
        reverse_proxy shiny:3838
    }
    
}

